.my-list-page {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
}

.my-list-page-inner-wrap {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10vh;
  padding-right: 10vh;
  display: block;
}

.my-list-h1 {
  font-size: xx-large;
  color: white;
  margin-bottom: 10px;
  cursor: default;
}

.my-list-row-wrap {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20vw);
}

.my-list-movie-wrap {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 860px) {
  .my-list-row-wrap {
    justify-content: center;
    display: grid;
    grid-template-columns: 20vw;
    column-gap: 15vw;
  }
}

@media screen and (min-width: 860px) and (max-width: 1510px) {
  .my-list-row-wrap {
    justify-content: center;
    display: grid;
    grid-template-columns: 20vw 20vw;
    column-gap: 15vw;
  }
}
