.login-body {
  padding: 0 35%;

  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0);

  margin-bottom: 0;
  background: 0 0;
  color: #fff;
}

@import "_login_form_container";

.center-pixel {
  top: 50%;
  left: 50%;
  position: absolute;
}
