.watch-trailer-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.watch-trailer-page-inner-wrap {
  display: flex;
  flex-direction: column;
}

.watch-trailer-title-close-wrap {
  //   position: absolute;
  //   z-index: 100;
  color: white;
  width: 100vw;
  height: 10vh;
  background: transparent;
}

.watch-trailer-play-wrap {
  width: 100vw;
  height: 80vh;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.watch-trailer-video {
  width: 100vw;
  height: 80vh;
}

.hidden {
  display: none;
}
