.watch-trailer-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.watch-trailer-page-inner-wrap {
  display: flex;
  flex-direction: column;
}

.watch-trailer-title-close-wrap {
  color: white;
  max-width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
}

.watch-trailer-title {
  font-size: xx-large;
  cursor: default;
}

.fa-times-circle {
  color: gray;
  cursor: pointer;
  font-size: xx-large;
}

.watch-trailer-close-button-wrap:hover .fa-times-circle {
  color: white;
  cursor: pointer;
}

.watch-trailer-play-wrap {
  width: 100vw;
  height: 80vh;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.575);
  cursor: pointer;
}

.watch-trailer-play-button {
  font-size: xx-large;
}

.watch-trailer-video {
  width: 100vw;
  height: 80vh;
}

.hidden {
  display: none;
}
