.home-navbar {
  position: fixed;
  top: 0;
  padding-top: 19px;
  padding-bottom: 19px;
  width: 100%;
  z-index: 100;

  transition-timing-function: ease-in;
  transition: all 1s;

  height: 28px;
}

.nav-transparent {
  background-color: transparent;
}

// html:not([data-scroll="0"]) {
//   .nav-transparent {
//     background-color: rgb(20, 20, 20);
//   }
// }

.nav-black {
  background-color: rgb(20, 20, 20);
}

.home-navbar-contents {
  display: flex;
  justify-content: space-between;
  // padding-top: 19px;
  // padding-bottom: 19px;
}

.home-header-link {
  position: fixed;
  left: 0;
}

.home-header-logo {
  cursor: pointer;
  height: 32px;
  padding-left: 50px;
  object-fit: contain;
}

.home-profile-menu-wrapper {
  position: fixed;
  right: 65px;

  top: 19px;
}

.profile-img {
  cursor: pointer;
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

.hover-profile-menu {
  display: none;
}

// .home-navbar {
//   height: 70px;
//   position: fixed;
//   top: 0;
//   color: white;
//   background-color: black;
//   width: 100vw;
//   // display: flex;
//   // align-items: center;
//   // justify-content: space-between;
// }

// .home-navbar-contents {
//   // display: flex;
//   // justify-content: space-between;
//   // padding: 0 55px;
//   // // align-items: center;
//   // // height: 100%;
//   // min-height: 70px;

//   // display: flex;
//   // justify-content: space-between;
//   padding-top: 19px;
//   padding-bottom: 19px;
// }

// .home-header-left-nav {
//   display: flex;
//   justify-content: space-between;
//   // align-items: center;
//   position: fixed;
//   left: 55px;
// }

// .home-header-home-link {
//   // display: flex;
//   // margin-right: 25px;
// }

// .home-header-logo {
//   cursor: pointer;

//   height: 30px;
// }

// .my-list {
//   cursor: pointer;
// }

// .home-header-right-nav {
//   display: flex;
//   // align-items: center;
//   position: fixed;
//   right: 55px;
// }

// // .search-menu-wrapper {
// // }

// .icon-search {
//   color: white;
//   cursor: pointer;
// }

// .search-box {
//   display: none;
// }

// .home-profile-menu-wrapper {
//   // margin-left: 25px;
// }

// .profile-img-wrap {
//   cursor: pointer;
//   // position: fixed;
//   display: flex;
//   // align-items: center;
//   // position: relative;
// }

// .profile-img {
//   height: 32px;
//   width: 32px;
//   border-radius: 4px;
// }

// // .fas fa-sort-down {
// //   cursor: pointer;
// //   margin-left: 10px;
// // }

// .profile-menu-arrow-down {
//   cursor: pointer;
//   margin-left: 10px;
// }

// // .home-navbar-dropdown-arrow {
// // }

// // .logout-button {
// // }

// // .home-header {
// //   padding-top: 20px;
// //   padding-bottom: 20px;
// //   // padding-right: 3%;
// //   // padding-left: 3%;
// //   display: flex;
// //   justify-content: space-between;
// //   // border-bottom: 1px solid #d3d3d3;
// //   align-items: center;
// //   position: relative;
// //   height: 4rem;
// //   width: 100%;
// //   // max-width: 1920px;
// //   // margin-right: 2cm;
// // }

// // .home-header-home-link {
// //   padding-left: 3%;
// // }

// // .home-header-logo {
// //   height: 50px;
// //   width: 105.03px;
// // }

// // .home-profile-menu-wrapper {
// //   padding: 3%;
// // }

// // .profile-img {
// //   display: flex;
// //   height: 40px;
// //   cursor: pointer;
// //   border-radius: 3px 3px 3px 3px;
// //   // padding-right: 3%;
// // }

.home-profile-menu-wrapper:hover .hover-profile-menu {
  position: relative;
  display: block;
  transition: all 0.4s;
}

// .hover-profile-menu {
//   display: none;
// }

.profile-menu-arrow-up {
  background-color: rgba(0, 0, 0, 0);
  // text-align: right;
  align-items: center;
  // right: 50px;
  // padding-top: 0px;
  // margin-bottom: 2px;
  // top: 100px;
  //for testing
  color: white;
  // margin-top: -5px;
  font-weight: bold;
  font-size: 20px;
}

.home-nav-little-menu-wrap {
  position: absolute;
  right: -6px;
  background-color: rgba(20, 20, 20, 0.9);
  // background-color: rgba(0, 0, 0, 0.76);
  border: 1px solid rgba(156, 154, 154, 0.76);
  padding: 10px;
  width: 125px;
  z-index: 1;
  text-align: left;
  height: 20px;
  margin-top: -5px;
  display: flex;
  align-items: center;
}

.logout-button {
  font-weight: 700;
  cursor: pointer;
  // text-align: left;
}

// // .dummy {
// //   height: 1400px;
// //   color: white;
// //   background-color: blue;
// //   width: 100vw;
// //   // position: absolute;
// //   display: block;
// // }
