.home-outer-wrap {
  width: 100vw;
  overflow: hidden;
  color: white;
  cursor: default;
}

@import "_home_navbar";
@import "_home_header";
// @import "_home_row";
@import "../carousel_style/carousel";
@import "_home_movie_preview";

// @import "_signup_sections";

// test wise

.random-pixel {
  color: rgb(0, 0, 0);
  width: 3px;
  display: block;
}
