.slider-item {
  margin: 2px;
  border-radius: 3px;
  object-fit: contain;
  color: white;
  width: 300px;
  height: 180px;
  list-style: none;
  cursor: default;
  display: block;
}

.movie-image {
  height: 168px;
  display: flex;
  width: 298px;
  border-radius: 3px;
  object-fit: cover;
}

.slider-item :hover .movie-image {
  display: none;
}

.movie-preview-info {
  display: none;
}

.movie-title-hidden {
  display: none;
}

.movie-title {
  font-weight: 800;
  font-size: 15px;
  text-align: end;
  padding-right: 5px;
  background-color: rgba(0, 0, 0, 0.144);
  border-radius: 3px;
  display: flex;
  margin-top: 5px;
}

.slider-item :hover .movie-preview-info {
  display: block;
  background-image: none;
  display: flex;
}

.movie-title-hidden {
  font-weight: 800;
  font-size: 30px;
}

.movie-description {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: small;
}

.slider-item :hover .movie-title {
  display: none;
}

.slider-item :hover .movie-title-hidden {
  display: blockGrammarly;
}

.slider-item :hover .movie-info {
  position: absolute;
  background: rgba(0, 0, 0, 0.671);
  z-index: 6;
  max-width: 100%;
  max-height: 100%;
  display: block;
  padding: 12px;
  border-radius: 3px;
  cursor: default;
}

.movie-preview-video {
  max-height: 100%;
  display: flex;
  max-width: 100%;
  border-radius: 3px;
}

.movie-buttons-wrap {
  display: flex;
  flex-direction: row;
}

.movie-icon-wrap:hover .movie-icon {
  border: solid 2px white;
}

.movie-icon {
  font-size: x-large;
  margin-right: 5px;
  margin-bottom: 5px;
  color: black;
  background: white;
  border-radius: 50%;
  border: solid 2px gray;
  cursor: pointer;
}

.movie-info-inner-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.movie-infos-wrap {
  margin-right: 5px;
}

.movie-rating {
  border: solid 1px white;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
}
