.home-navbar {
  position: fixed;
  top: 0;
  padding-top: 19px;
  padding-bottom: 19px;
  width: 100%;
  z-index: 150;

  transition-timing-function: ease-in;
  transition: all 1s;

  height: 28px;
  cursor: default;
}

.nav-black {
  background: rgba(0, 0, 0, 0.637);
}

.nav-transparent {
  background: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(0, 0, 0));
}

.home-navbar-contents {
  display: flex;
  justify-content: space-between;
}

.home-header-left-wrap {
  align-items: center;
  display: flex;
}

.home-header-link {
  position: fixed;
  left: 0;
}

.home-header-logo {
  cursor: pointer;
  height: 32px;
  padding-left: 50px;
  object-fit: contain;
}

.home-header-mylist-link-wrap {
  margin-left: 20px;
}

.home-header-mylist-link-wrap:hover .home-header-mylist-link {
  color: grey;
  transition: all 0.4s;
}

.home-header-mylist-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
  font-size: small;
}

.navbar-genres-list-wrap {
  display: none;
}

.navbar-genres-list-inner-wrap {
  display: flex;
  flex-direction: column;
}

.my-list-hover:hover .navbar-genres-list-wrap {
  display: block;
  position: absolute;
  color: white;
  padding-top: 5px;
  font-size: small;
}

.navbar-genre-item {
  color: white;
  padding: 3px;
  cursor: pointer;
  background-color: rgba(20, 20, 20, 0.9);
  border: 1px solid rgba(156, 154, 154, 0.76);
  transition: all 0.4s;
}

.navbar-genre-item-hover:hover .navbar-genre-item {
  color: gray;
  transition: all 0.4s;
}

.home-header-right-wrap {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 65px;
}

.home-profile-menu-wrapper {
  right: 65px;

  top: 19px;
}

.profile-img {
  cursor: pointer;
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

.hover-profile-menu {
  display: none;
  transition: all 0.4s;
}

.home-profile-menu-wrapper:hover .hover-profile-menu {
  position: absolute;
  display: block;
  transition: all 0.4s;
  width: 125px;
  right: -15px;
  height: 100%;
}

.navbar-profile-menu-item-hover {
  min-width: 125px;
}

.navbar-profile-menu-item-hover:hover .navbar-profile-menu-item {
  color: gray;
  transition: all 0.4s;
}

.navbar-profile-menu-item {
  padding: 3px;
  cursor: pointer;
  background-color: rgba(20, 20, 20, 0.9);
  border: 1px solid rgba(156, 154, 154, 0.76);
  transition: all 0.4s;
  display: block;
  text-decoration: none;
  color: white;
}

.fix-fonts {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.same-page {
  color: white;
  font-weight: 700;
  cursor: default;
  transition: all 0.4s;
}

.same-page-genres {
  color: white;
  font-weight: 700;
  transition: all 0.4s;
  cursor: default;
}

#default-cursor {
  cursor: default;
}
