.search-result-wrap {
  background-color: rgba(20, 20, 20, 0.9);
  display: flex;
  position: relative;
}

.home-header-search-elements-wrap {
  display: flex;
  flex-direction: column;
}

.search-result-list {
  transition: all 0.4s;
}
.home-header-search-wrap {
  margin-right: 20px;
  align-items: center;
  display: block;
}

.home-header-inner-search-wrap:hover .home-header-search-input {
  transform: translateX(0);
  opacity: 1;
}

.home-header-inner-search-wrap:hover .home-header-inner-search-wrap {
  border: 1px solid rgba(156, 154, 154, 0.76);
  transition: all 0.4s;
}

.home-header-inner-search-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-header-search-button-wrap {
  display: block;
}

.home-header-search-input {
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 0.4s, transform 0.4s;
  border: none;
  background: transparent;
  color: white;
  padding: 5px;
  border: 1px solid rgba(156, 154, 154, 0.76);
}

.home-header-search-input:focus {
  display: block;
  transform: translateX(0);
  opacity: 1;
}

.home-header-search-wrap:focus-within .fa-search {
  cursor: pointer;
}

.fa-search {
  padding: 5px;
  color: white;
  cursor: default;
}

.navbar-search-item {
  display: block;
  padding: 3px;
  cursor: default;
  color: white;
  background-color: rgba(20, 20, 20, 0.9);
  border: 1px solid rgba(156, 154, 154, 0.76);
  transition: all 0.4s;
}
