.first-container {
    background-image: image_url('first-background.jpg');
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // display: flex;
    position: absolute;
    height: 100vw;
  
}

