.navbar {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 3%;
	padding-left: 3%;
	display: flex;
    justify-content: space-between;
	border-bottom: 1px solid #d3d3d3;
	align-items: center;
	position: relative;
}