.form-wrapper {
    // position: absolute;
    // top: 20%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // display: block;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    // max-width: 950px;
}

.pre-signup-form-container {
    // display: block;
    font-weight: 400;
    // position: relative;
    text-align: center;
    z-index: 1;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-size-adjust: 100%;
    max-width: 950px;
    font-size: 18px;
    width: 288px;
    color: white;
}

.pre-signup-form-box {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.splash-first-sentence {
    font-size: 1.75rem;
    line-height: 1.1;
    font-weight: 600;
}

.splash-second-sentence {
    font-size: 1.125rem;
    line-height: 1.1;
    margin: 1rem auto;
    font-weight: 400;

}

.splash-third-sentence {
    line-height: 1.1;
    font-size: 1.125rem;
}

.pre-signup-input {
    height: 48px;
    padding: 10px 10px 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    font-size: 16px;
    // display: block;
    border-radius: 2px;
    appearance: none;
    color: black;
    line-height: normal;
    border: solid 1px #8c8c8c;
}

.pre-signup-button {
    // position: relative;
    font-size: 1rem;
    // align-items: center;
    padding: 0 1em;
    width: auto;
    line-height: initial;
    min-width: 74px;
}