/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: white;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format("woff"); }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  color: white;
  background-color: #e50914;
  font-weight: 400;
  border-radius: 3px 3px 3px 3px;
  font-size: 14.4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  cursor: pointer;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-decoration-line: none;
  text-decoration-color: white;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  border: 0;
  box-shadow: none; }

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 3%;
  padding-left: 3%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d3;
  align-items: center;
  position: relative; }

.logo {
  height: 32px;
  width: 105.03px; }

.form-wrapper {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%; }

.pre-signup-form-container {
  font-weight: 400;
  text-align: center;
  z-index: 1;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-size-adjust: 100%;
  max-width: 950px;
  font-size: 18px;
  width: 288px;
  color: white; }

.pre-signup-form-box {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.splash-first-sentence {
  font-size: 1.75rem;
  line-height: 1.1;
  font-weight: 600; }

.splash-second-sentence {
  font-size: 1.125rem;
  line-height: 1.1;
  margin: 1rem auto;
  font-weight: 400; }

.splash-third-sentence {
  line-height: 1.1;
  font-size: 1.125rem; }

.pre-signup-input {
  height: 48px;
  padding: 10px 10px 0;
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  font-size: 16px;
  border-radius: 2px;
  appearance: none;
  color: black;
  line-height: normal;
  border: solid 1px #8c8c8c; }

.pre-signup-button {
  font-size: 1rem;
  padding: 0 1em;
  width: auto;
  line-height: initial;
  min-width: 74px; }

.first-container {
  background-image: url("first-background.jpg");
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute; }

.first-splash-wrapper {
  padding: 30px 0;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.first-splash-text {
  display: block;
  justify-content: center;
  position: relative; }

.right-navbar-logged-in:hover .hover-menu {
  display: block; }

.profileImg {
  display: flex;
  height: 40px;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px; }

.hover-menu {
  padding-top: 30px;
  position: absolute;
  display: none;
  right: 3%;
  background-color: rgba(0, 0, 0, 0.76);
  border: 1px solid rgba(0, 0, 0, 0.76);
  padding: 10px;
  width: 125px;
  z-index: 1;
  text-align: left; }

.logout-button {
  font-weight: 700;
  cursor: pointer;
  text-align: left; }

/*# sourceMappingURL=application.css.map */
