.pre-signup-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-weight: 400;
    z-index: 1;
    text-size-adjust: 100%;
    font-size: 18px;
    color: white;
    width: 100%;
    padding: 75px 0;
    margin: 0 auto;
    max-width: 950px;
}

.pre-signup-form-text {
    display: flex;
    flex-direction: column;
}

.splash-first-sentence {
    font-size: 3.25rem;
    line-height: 1.1;
    font-weight: bold;
    max-width: 640px;
    margin: 0 auto;
}

.splash-second-sentence {
    font-size: 1.625rem;
    line-height: 1.1;
    margin: 1rem auto;
    font-weight: 400;
    max-width: 640px;
    padding: 0 5%;
    
}

.splash-third-sentence {
    max-width: none;
    padding-bottom: 20px;
    line-height: 1.1;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 0.85rem;
}

.pre-signup-form-box {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pre-signup-input {
    min-width: 450px;
    height: 60px;
    padding: 10px 10px 0;
    width: 100%;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    // display: block;
    appearance: none;
    color: black;
    line-height: normal;
}

.pre-signup-button {
    // margin: 0;
    // border-bottom-left-radius: 0;
    // border-top-left-radius: 0;
    border-left: 1px solid #333;
    font-size: 1.625rem;
    // min-height: 60px;
    padding: 0 1em;
    // display: inline-flex;
    // flex-direction: row;
    // align-items: center;
    // line-height: initial;
    // width: auto;
    // position: relative;
    min-width: 74px;
    min-height: 60px;

    // text-decoration: none;
    // vertical-align: middle;
    // cursor: pointer;
    // font-weight: 400;
    // letter-spacing: .1px;

    // position: relative;
    
    // align-items: center;

    // width: auto;
    // // height: 100%;

    
    border-radius: 0;
    line-height: initial;
    width: auto;
    font-weight: 400;
    box-sizing: border-box;
}

// @media screen and (max-width: 550px) {
//     .pre-signup-form-container {
//         padding: 30px 0;
//     }

//     .splash-first-sentence {
//         font-size: 1.75rem;
//     }

//     .splash-second-sentence {
//         font-size: 1.125rem;
//     }

//     .splash-third-sentence {
//         max-width: 450px;
//         padding: 0 10%;
//         margin: 0 auto;
//     }

//     .pre-signup-input {
//         height: 48px;
//         // width: 100%;
//         // display: block;
//     }

//     .pre-signup-button-container {
//         // float: none;
//         padding: 0;
//         margin-top: 0;
//     }

//     .pre-signup-button {
//         position: relative;
        
//         font-size: 1rem;
//         padding: 0 1em;
//         width: auto;
//         // height: 100%;
//         line-height: initial;
//         border-left: 1px solid #333;
//         width: auto;
//         min-height: 40px;
//         margin: 0.25em auto;
//     }
// }
