.splash-header-wrapper {
	background-color: transparent;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	height: 4rem;
	
}

.splash-header{
	// padding-top: 20px;
	// padding-bottom: 20px;
	// // padding-right: 3%;
	// // padding-left: 3%;
	// display: flex;
	// justify-content: space-between;
	// // border-bottom: 1px solid #d3d3d3;
	// align-items: center;
	// position: relative;
	// height: 4rem;
	// width: 100%;
	// // max-width: 1920px;
	// // margin-right: 2cm;
	position: relative;
    margin: 0 3.5rem;
    height: 100%;

}

.splash-login-button{
	line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    float: right;
	border-radius: 3px;


	//double check this guy
	// padding-top: 5%;
	
}


.splash-header-logo {
	// height: 50px;
	width: 134px;
}

// .right-navbar-logged-out{
// 	padding-right: 3%;
// }
