.splash-footer-wrapper {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-top {
  color: grey;
}

.footer-button-wrap {
  padding-left: 10px;
  color: white;
  transition: all 0.4s;
}

.footer-link {
  font-size: x-large;
}

.footer-button-wrap:hover .footer-link {
  color: grey;
  transition: all 0.4s;
}
