.splash-television-element {
    padding: 30px 0;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 8px solid #222;
//     position: relative;
    
}

// .first-splash-text {
//     display: block;
//     justify-content: center;
//     position: relative;
// }

