.login-page{
    min-height: 100%;
    margin: 0;
    padding: 0;
    // background-color: black;
    position: relative;
    display: block;
}

.login-background {
    background-image: image_url('first-background.jpg');
    background-color: black;
    
    background-size: cover;
    display: block;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
    
}

// .login-page {
//     align-items: center;
//     flex-direction: column;
// }

.login-header {
    // position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: transparent;
    
    // z-index: 2;
    
    height: 90px;
    padding-top: 20px;
}

.login-header-home-link{
    margin-left: 3%;
}

.login-header-logo{
 
    line-height: 90px;
    width: 167px;
}

.login-body{
    margin: 0 auto -236px;
    // min-height: 100vh;
    background-color: transparent;
    max-width: 450px;
    padding: 0 5%;
    
    // content: "";
    // height: 236px;
    // display: block;
}

.login-form-box{
    margin-bottom: 0;
    margin-top: 0em;
    display: block;
}

.login-form-container{
    min-height: 660px;
    padding: 60px 68px 40px;
    margin-bottom: 90px;
    background-color: rgba(0,0,0,.75);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    // margin: 0;
    min-width: 380px;

}

.sign-in-letters{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;

    margin: 0 0 10px 0;
    padding: 0;
}

.login-input-little-box{
    padding-bottom: 16px;
    max-width: 100%;
}

.login-input-email{
    background: #333;
    color: #fff;
    border-radius: 4px;
    /* border: 0; */
    /* color: #fff; */
    height: 50px;
    line-height: 50px;
    padding: 16px 20px 0;
    width: 100%;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #333;;
}

.login-input-password{
    background: #333;
    color: #fff;
    border-radius: 4px;
    // border: 0;
    /* color: #fff; */
    height: 50px;
    line-height: 50px;
    padding: 16px 20px 0;
    width: 100%;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #333;;
    margin-top: -15px;
}

.login-button{
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0 12px;

    width: 100%;
    max-width: 100%;

    padding: 16px;

    margin-top: -15px;
    margin-bottom: 60px;
}

// .sign-up-login-form{
//     display: flex;
//     flex-direction: column;
// }

.demo-user-wrap{
    margin-bottom: 25px;
}

.demo-user-button{
    background-color: #0056b3;
    font-weight: bold;
}
.sign-up-new{
    color: #737373;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
}

.sign-up-link{
    text-decoration: none;
}

.fabio-link{
    color: #0071eb;
    text-decoration: none;
}

.not-terms-of-use{
    margin-top: 15px;
    font-size: 13px;
    color: 8c8c8c;
    text-align: left;
}

.login-footer-wrapper{
    margin-top: 0;
    // position: absolute;
    background: rgba(0,0,0,.75);
    min-width: 190px;
    width: 100%;
    // margin-top: 80px;
    padding-bottom: 20px;
    font-size: 1em;
    color: #757575;
    // height: 100%;
    // position: relative;
    // z-index: 1;
    // display: block;
    // padding-bottom: 100vw;
    position: fixed;
    bottom: 0;

}

.footer-divider {
    border-color: #737373;
    display: none;
    height: 0;
    width: 100%;
    border-top: 1px solid #e5e5e5;
}

.login-footer{
    color: #757575;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
    width:  90%;
}

.footer-top{
    padding: 0;
    margin: 0 0 30;
    color: #757575;

}