.login-page {
    background-image: image_url('first-background.jpg');
    background-color: black;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // display: flex;
    // position: absolute;
    // height: 100vw;
    // border-bottom: 8px solid #222;

    background-size: cover;
    display: block;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
  
}

.login-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: transparent;

    z-index: 2;

    height: 90px;
}